### 11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [55]:
import zoo

zoo.hours()

Open 9-5 Daily

### 11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [56]:
import zoo as menagerie

menagerie.hours()

Open 9-5 Daily

### 16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

In [57]:
import sqlite3
import csv

conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books(title TEXT PRIMARY KEY, author TEXT, year INT)''')
conn.close()

OperationalError: table books already exists

### 16.5 Read books2.csv and insert its data into the book table.

In [ ]:
with open('books2.csv', 'r') as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        curs.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)",
                  (row[0], row[1], row[2]))
    conn.commit()

### 16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [ ]:
import sqlalchemy
from sqlalchemy import text

titles = []
create_engine = sqlalchemy.create_engine('sqlite:///books.db')
conn = create_engine.connect()
entries = conn.execute(text('''SELECT * FROM books'''))
for entry in entries:
    titles.append(entry[0])
titles.sort()
for title in titles:
    print(title)
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!
title